/*Login page styling:  */
.login-page {
	margin-top: 5%;
}

.login-page * {
	margin-top: 0.5%;
	text-align: center;
}

/*Signup page styling:  */
.signup-page {
	margin-top: 5%;
}

.signup-page * {
	margin-top: 0.5%;
	text-align: center;
}

.signup-entry {
	text-align: center;
	margin-top: 0.5%;
}

.signup-dir {
	text-align: center;
	margin-top: 2%;
	font-size: 1.2em;
}

.normal-input {
	text-align: left;
}

.move-to-middle {
	/*margin-left: 50%;*/
}

.falcon-signup {
	float: left;
}

.falcon-upload {
	margin-left: 25%;
	float: left;
}

/*Profile page styling:  */
.profile-page {
	margin-top: 3%;
	padding-left: 3%;
}

.falcon-img {
	float: left;
	display: inline-block;
}

.img-styling {
	width: 100%;
}

.falcon-info {
	padding-left: 2%;
	float: left;
}

.falcon-info * {
	font-family: 'Trocchi', serif;
	padding: 2%;
}

.profile-viz {
	margin-top: 4%;
}

.profile-viz * {
	text-align: center;
	color: red;
}

/*Log page styling:  */
/*.log h3 {
	text-align: center;
}*/
.page-title {
	text-align: center;
}
.spacing {
	display: inline-block;
	float: left;
}

.log-page {
	display: inline-block;
	float: left;
}