/*
COLOR SCHEME:
Bluebell (Teal) = #155765
Olive (Green) = #57652A
Ornate (Tan) = #AB9353
Plum (Purple) = #4d2C3D
*/

.nav-myFalcon {
	text-decoration-color: #4d2C3D;
}

.falcon-img {
	background-color: #4d2C3D;
	border-radius: 90px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.falcon-img * {
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 100px;
}
/*
.falcon-info {
	background-color: #57652A;
}*/

body {
	background-color: #AB9353;
}

.nav-view {
	background-color: #155765;
}

.nav-view a {
	color: #3CC47C;
}

svg {
	height: 72vh;
}

/*Login page styling:  */
.login-page {
	margin-top: 5%;
}

.login-page * {
	margin-top: 0.5%;
	text-align: center;
}

/*Signup page styling:  */
.signup-page {
	margin-top: 5%;
}

.signup-page * {
	margin-top: 0.5%;
	text-align: center;
}

.signup-entry {
	text-align: center;
	margin-top: 0.5%;
}

.signup-dir {
	text-align: center;
	margin-top: 2%;
	font-size: 1.2em;
}

.normal-input {
	text-align: left;
}

.move-to-middle {
	/*margin-left: 50%;*/
}

.falcon-signup {
	float: left;
}

.falcon-upload {
	margin-left: 25%;
	float: left;
}

/*Profile page styling:  */
.profile-page {
	margin-top: 3%;
	padding-left: 3%;
}

.falcon-img {
	float: left;
	display: inline-block;
}

.img-styling {
	width: 100%;
}

.falcon-info {
	padding-left: 5%;
	float: left;
}

.falcon-info * {
	font-family: 'Trocchi', serif;
	padding: 2%;
	font-size: 1.3em;
}

.profile-viz * {
	padding-left: 3%;
	padding-top: 2%;
	/*margin-top: 4%;*/
	display: inline-block;
	vertical-align: top;
}

.profile-viz * {
	text-align: center;
	color: black;
}

.weather {
	font-family: 'Trocchi', serif;
	padding: 0%;
	padding-top: 2%;
	margin-top: 8%;
	background-color: #57652A;
	width: 30%;
	height: 90vh;
	margin-left: -3%;
	border-radius: 40px;
}

.day {
	display: block;
	margin-top: 5%;
}

.day * {
	color: black;
}

.day-info {
	width: 50%;
	float: left;
	display: inline-block;
}

.day-info {
	padding-top: 5%;
}

.day-info p {
	margin-bottom: 2%;
}

.day-img {
	margin-left: -8%;
}


/*Log page styling:  */
/*.log h3 {
	text-align: center;
}*/
.page-title {
	text-align: center;
}
.spacing {
	display: inline-block;
	float: left;
}

.log-page {
	display: inline-block;
	float: left;
}

.add-button {
	float: right;
	border-radius: 25px;
	/*padding: 0;*/
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 1%;
	font-size: small;
}

.log-title {
	display: inline-block;
	float: left;
}

.log {
/*	margin: 1em;*/
	background-color: #57652A;
	border-radius: 10px;
	margin-top: 2%;
	padding: 1%;
	/*padding-left: 2%;
	padding-right: 2%;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.log button {
	background-color: #155765;
}

.new-line {
	padding-bottom: 1%;
}

.log a {
	color: #292b2c;
}

.desc-input {
	min-height: 200px;
	min-width: 400px;
	vertical-align: top;
}
